<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ResetBasedStyles.css">
    <link rel="stylesheet" href="css/root-style.css">
    <link rel="stylesheet" href="css/auth-style.css">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div class="auth-panel">
            <div class="container">
                <div class="auth-panel__body">
                    <div class="auth-panel__title">
                        <h3 class="title">Login account</h3>
                    </div>
                    <div class="description-text text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, asperiores!
                    </div>
                    <div class="auth-panel__form">
                        <form action="post">
                            <div class="auth-panel-form__row">
                                <p>Your login</p>
                                <input name="login" type="text" placeholder="Login" class="textbox">
                                <p>Your password</p>
                                <input name="password" type="password" placeholder="Password"  class="textbox">
                                <button class="btn">Log in</button>
                            </div>
                        </form>
                    </div>
                    <div class="error-massage">
                        <p class="error text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus illo qui maxime itaque, impedit commodi excepturi quasi ea quod id.</p>
                    </div>
                    <div class="auth_panel__signin">
                        <a href="#">Don't have account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>