<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/ResetBasedStyles.css">
    <title>LearnEnglish</title>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="container">
                <div class="header__body">
                    <div class="header__row">
                        <div class="header__logo">
                            <h3 class="title">LearnEnglish</h3>
                        </div>
                        <div class="header__navigation">
                            <nav class="navigation">
                                <a href="#" class="nav-btn">Main</a>
                                <a href="#" class="nav-btn">Profile</a>
                                <a href="#" class="nav-btn">Training</a>
                            </nav>
                        </div>
                        <div class="header__login">
                            <nav>
                                <a href="#" class="login-btn nav-btn">Login</a>
                                <a href="#" class="register-btn nav-btn">Sign up</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="explain-panel">
            <div class="container">
                <div class="explain-panel__body">
                    <div class="explain-panel__text">
                        <h3 class="title">Hello, people!</h3>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, nihil aspernatur? Vel commodi voluptatem in voluptates expedita odit sequi tempore accusamus suscipit, laboriosam et velit sed ea magnam quidem reprehenderit! Sunt velit quibusdam ab magni!</p>
                    </div>
                    <a href="#" class="btn">Create profile</a>
                </div>
            </div>
        </div>

        <div class="explain-panel">
            <div class="container">
                <div class="explain-panel__body">
                    <div class="explain-panel__text">
                        <h3 class="title">Has account?</h3>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas eum excepturi natus, vitae nesciunt sunt!</p>
                        <p class="text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nihil nesciunt at officiis eius nisi. Labore asperiores mollitia esse velit, tenetur maxime quod vero eos nisi.</p>
                    </div>
                    <a href="#" class="btn">Login</a>
                </div>
            </div>
        </div>

        <div class="explain-panel">
            <div class="container">
                <div class="explain-panel__body">
                    <div class="explain-panel-cards__row">
                        <div class="offer-card">
                            <div class="offer-card__body">
                                <div class="offer-card__title">
                                    <h3 class="title">Why should I learn English?</h3>
                                </div>
                                <div class="offer-card__text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam provident illum quis excepturi dolorem, ipsam nesciunt sapiente architecto recusandae quibusdam.</p>
                                </div>
                                <div class="offer-card__image">
                                    <img src="src/english-3.jpg" alt="">
                                </div>
                                <div class="offer-card__footer">
                                    <a href="#" class="btn">START STRAINING!</a>
                                </div>
                            </div>
                        </div>
                        <div class="offer-card">
                            <div class="offer-card__body">
                                <div class="offer-card__title">
                                    <h3 class="title">Why do I need to choose you?</h3>
                                </div>
                                <div class="offer-card__text">
                                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto velit ut autem eligendi similique sapiente ratione, voluptatibus assumenda tempore amet natus. Iste officiis architecto cum quas vitae quasi quidem. Qui nostrum reiciendis delectus explicabo quo. Totam necessitatibus, nam itaque optio amet magni exercitationem impedit, incidunt, mollitia omnis harum explicabo fugiat!</p>
                                </div>
                                <div class="offer-card__image">
                                    <img src="src/english-2.jpg" alt="">
                                </div>
                                <div class="offer-card__footer">
                                    <a href="#" class="btn">SING UP!</a>
                                </div>
                            </div>
                        </div>
                        <div class="offer-card">
                            <div class="offer-card__body">
                                <div class="offer-card__title">
                                    <h3 class="title">Card 2</h3>
                                </div>
                                <div class="offer-card__text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus magnam ipsam, dicta adipisci fugit eius!</p>
                                </div>
                                <div class="offer-card__image">
                                    <img src="src/english.jpg" alt="">
                                </div>
                                <div class="offer-card__footer">
                                    <a href="#" class="btn">LEARN MORE1</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
                <div class="footer__row">
                    <div class="copytight">
                        <p>LearnEnglish by <a href="https://github.com/Sparrow1488/">Sparrow1488</a>&copy;</p>
                    </div>
                    <div class="contacts">
                        <h3>Contacts:</h3>
                        <a href="https://github.com/Sparrow1488/">GitHub</a>
                        <a href="https://vk.com/sparrow1488228kavo">VK</a>
                    </div>
                </div>
            </div>
        </footer>

    </div>
</body>
</html>