<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/ResetBasedStyles.css">
    <link rel="stylesheet" href="css/profile-style.css">
    <link rel="stylesheet" href="css/root-style.css">
    <title>Profile</title>
</head>
<body>
    <div id="wrapper">
        <div class="main-profile">
            <div class="container">
                <div class="profile__body">
                    <div class="profile-body__row">
                        <div class="profile__info">
                            <div class="profile-cover">
                                <img src="https://sun9-78.userapi.com/impg/7l4enVTgAtgOUCSUXV1bxRhA-EJyiNsAvJ0iXg/NTgZYE_Ijlg.jpg?size=899x673&quality=95&sign=a508813fa4a792f15c198ab1f933d02a&type=album" alt="profile cover">
                            </div>
                            <div class="profile-desc">
                                <h3 class="title">UserLogin</h3>
                                <p class="text">English: A2</p>
                                <a href="#" class="btn blue edit-btn">Edit profile</a>
                                <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate natus error, iusto magni quis fuga!</p>
                            </div>
                        </div>
                        <div class="profile__body">
                            <div class="profile-body__row">
                                <div class="profile__dictionaries">
                                    <h3 class="title">Dictionaries</h3>
                                    <a href="#" class="btn blue">Add new</a>
                                    <div class="dictionaries__container">
                                        <a href="#" class="btn">Vocablulary</a>
                                        <a href="#" class="btn">Test dictionary</a>
                                        <a href="#" class="btn">Vocablulary 2</a>
                                        <a href="#" class="btn">Vocablulary 3</a>
                                        <a href="#" class="btn">Vocablulary 13123124124</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div>    
</body>
</html>