@page
@model LearnEnglish.Pages.IndexModel

<div class="explain-panel">
<div class="container">
    <div class="explain-panel__body">
        <div class="explain-panel__text">
            <h3 class="title">Hello, people!</h3>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, nihil aspernatur? Vel commodi voluptatem in voluptates expedita odit sequi tempore accusamus suscipit, laboriosam et velit sed ea magnam quidem reprehenderit! Sunt velit quibusdam ab magni!</p>
            <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vero deleniti suscipit necessitatibus quisquam illo dolor beatae modi asperiores earum corrupti reprehenderit dolorum, accusamus possimus maiores obcaecati.</p>
        </div>
        <div class="explain-panel__buttons">
            <a href="#" class="btn">Create profile</a>
            <a href="#" class="btn green">Login</a>
            <a href="#" class="btn blue">Try execute task</a>
        </div>
    </div>
</div>
</div>
