<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
</head>
<body>
    <div id="wrapper">
        <div class="navigation">
            <div class="container">
                <div class="navigation__body">
                    <a asp-controller="Home" asp-action="Index" class="btn">Home</a>
                    <a asp-controller="Home" asp-action="Profile" class="btn">Profile</a>
                    <a asp-controller="Admin" asp-action="Index" class="btn">Admin</a>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="container">
                <div class="content__body">
                    <p class="title"><b>Admin</b> page</p>
                    <a class="btn" asp-controller="Home" asp-action="SignOut">Sign out</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>