body {
    background: url("../Sources/images/bg.jpg");
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

header {
    background: black;
    height: 20px;
}

.card {
    font-size: 16px;
    background: rgb(228, 228, 228);
    width: 600px;
    /* тень для контейнера; X; Y; blur; color */
    box-shadow: 0 2px 5px gray; 
    border-radius: 2px;
    padding: 5px;
    margin: 10px auto;
    opacity: 75%;
}

.main-title{
    color: rgb(29, 72, 151);
    margin: 0px;
    font-size: 44px;
}

.subtitle {
    font-size: 22px;
    color: rgb(27, 46, 100);
    margin: 0px;
}

.card-image {
    width: 600px;
    display: block;
    height: 300px;
}

.card-list {
    /* помещаем маркеры внутрь текста */
    list-style-position: inside; 
    padding-left: 0px;
}