@page
@model LearnEnglish.Pages.DictionaryModel

<head>
    <link rel="stylesheet" href="~/css/dictionary-style.css">
    <title>Dictionary @Model?.Dictionary?.Title</title>
</head>
<body>
        <div class="main-dictionary-panel">
            <div class="container">
                <div class="main-dictionary-panel__body">
                    <div class="header">
                        <div class="header__row">
                            <form method="post" target="_self">
                                <input name="word" class="textbox" type="text" placeholder="Find word in @Model?.Dictionary?.Title">
                                <a href="#" class="btn">Find</a>
                                <a href="#" class="btn blue">Add word</a>
                            </form>
                        </div>
                    </div>

                    <div class="word-information">
                        @if (!string.IsNullOrWhiteSpace(@Model.inputWord))
                        {
                            <h3 class="title">Вы хотите добавить новое слово в словарь (@Model?.inputWord)?</h3>
                        }
                        @if (@Model?.Word != null) {
                            <div class="word__translate">
                               <h3 class="title">Translate</h3>
                               <div class="translate__row">
                                 <p class="text">@Model?.Word?.Value    →    @Model?.Word?.Translate</p>
                               </div>
                           </div>
                           <div class="word__transcription">
                                <p class="text">Model.word.Transcription</p>
                           </div>
                           <div class="word__examples">
                                @*THERE ARE NEED TO INSERT RANDOM EXAMPLES TO USE*@
                           </div>
                        }
                        else {
                            <h3 class="title">Select word</h3>
                        }
                    </div>

                    <div class="list-of-words">
                        
                        <div class="list-of-words__header">
                            @if (Model.WordsList == null || Model.WordsList.Count == 0) {
                                <h3 class="title">Dictionary is empty</h3>
                            }
                            else {
                                <h3 class="title">Words in @Model?.Dictionary?.Title dictionary</h3>
                            }
                        </div>
                        <div class="list-of-words__list">
                            @foreach (var word in Model.WordsList) {
                                <div class="word-panel">
                                    <div class="word-panel__row">
                                        <a href="#" class="black word-item">○ @word.Value</a>
                                        <a href="#" class="black word-translate-item">@word.Translate</a>
                                        <a href="#" class="blue see-translate-btn">Fast translate</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="~/jquery/jquery-3.6.0.min.js"></script>
        <script src="~/js/dictionary-script.js"></script>
</body>
