@page
@model LearnEnglish.Pages.Profile.ProfileModel

<head>
    <link rel="stylesheet" href="css/profile-style.css">
    <link rel="stylesheet" href="css/modal-style.css">
    <title>Profile</title>
</head>
<div class="main-profile">
    <div class="container">
        <div class="profile__body">
            <div class="profile-body__row">
                <div class="profile__info">
                    <div class="profile-cover">
                        <img src="https://sun9-78.userapi.com/impg/7l4enVTgAtgOUCSUXV1bxRhA-EJyiNsAvJ0iXg/NTgZYE_Ijlg.jpg?size=899x673&quality=95&sign=a508813fa4a792f15c198ab1f933d02a&type=album" alt="profile cover">
                    </div>
                    <div class="profile-desc">
                        <h3 class="title">@Model.UserLogin</h3>
                        <p class="text">English: Undefined</p>
                        <a href="Edit" class="btn blue edit-btn">Edit profile</a>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate natus error, iusto magni quis fuga!</p>
                    </div>
                </div>
                <div class="profile__body">
                    <div class="profile-body__row">
                        <div class="profile__dictionaries">
                            <h3 class="title">Dictionaries</h3>
                            <a href="#" class="btn blue create-dictionary open-modal">Add new</a>
                            <div class="dictionaries__container">
                                @foreach (var dic in @Model.UserDictionaries) {
                                    <a href="Dictionary?id=@dic.Id" class="btn">@dic.Title</a>
                                }
                            </div>
                        </div>
                    </div>
                    <div id="myModal" class="modal">
                        <form method="post">
                            <div class="modal-content">
                                <span class="close">&times;</span>
                                <div class="modal-content__header">
                                    <h3 class="title">Create new dictionary</h3>
                                </div>
                                <div class="modal-content__body">
                                    <p class="text">Title</p>
                                    <input name="dictionaryTitle" type="text" class="textbox" placeholder="Dictionary title">
                                </div>
                                <div class="modal-content__footer">
                                    <input type="submit" value="Create" class="btn green"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/modal-script.js"></script>
