.wrapper {
    margin: 0 auto;
    min-width: 350px;
    background: rgba(167, 167, 167, 0.315);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user-form__content {
    display: flex;
    flex-direction: column;
}

.user-form__content input {
    margin: 0 0 10px 0;
}