@page
@model LearnEnglish.Pages.Training.IndexModel
@{
}

<head>
    <link href="~/css/training-index-style.css" rel="stylesheet" />
</head>
<div class="cards-block">
    <div class="container">
        <div class="cards__row">
            <a href="#" class="card">
                <div class="card__image">
                    <img src="https://www.visitbritain.com/sites/default/files/styles/consumer_vertical_hero__1920x1080/public/paragraphs_bundles/hero/victoria-tower-london-england.jpg?itok=-SCnpFU9" alt="Avatar" style="width:100%">
                </div>
                <div class="card__title">
                    <h3 class="title">Randomizer</h3>
                </div>
            </a>

            <a href="#" class="card disable">
                <div class="card__image">
                    <img src="https://img1.goodfon.ru/wallpaper/nbig/f/eb/new-york-new-york-city-ny-nyc-5623.jpg" alt="Avatar" style="width:100%">
                </div>
                <div class="card__title">
                    <h3 class="title">Tasks</h3>
                </div>
            </a>
        </div>
    </div>
</div>