@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 22px;
}
body {
    height: 100%;
    background-color: #EEEEEE;
}
p {
    margin: 15px 0;
}
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.container {
    padding: 80px 20px;
    max-width: 1180px;
    min-width: 780px;
    margin: 0 auto;
}
.title {
    line-height: 35px;
    font-size: 25px;
    font-weight: bold;
    color:  black;
}
.text {
    color:  black;
    font-size: 18px;
    line-height: 25px;
}
.black {
    color: black;
}
.purple {
    color: blueviolet;
}
.error {
    color: rgb(170, 8, 8);
}
.btn {
    background-color: cadetblue;
    padding: 5px 10px;
    line-height: 38px;
    border-radius: 5px;
    font-size: 18px;
    color: white;
    transition: background-color 0.2s;
}
.btn:hover {
    background-color: rgb(81, 128, 129);
}
.green {
    background-color: #43CC5C;
    transition: background-color 0.2s;
}
.green:hover {
    background-color: #3ea751;
}
.blue {
    background-color: #404983;
    transition: background-color 0.2s;
}
.blue:hover {
    background-color: #333a66;
}
.textbox {
    padding: 5px 10px;
    color: black;
    background-color: rgb(231, 231, 231);
    font-weight: bold;
    border-radius: 5px;
}
.textbox:focus {
    transition: background-color 0.1s;
    background-color: rgb(68, 68, 68);
    color: #fff;
}

@media (max-width: 820px){
    body {
        overflow-x: hidden;
        max-width: 820px;
    }
    .container {
        min-width: 820px;
    }
    .header__navigation {
        display: none;
    }
    .header__row {
    }
}