<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Styles/ResetBasedStyles.css">
    <link rel="stylesheet" href="Styles/IndexStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software shop</title>
</head>
<body>
    <header class="nav">
        <div class="nav-logo">
            <p class="nav-logo">Logo</p>
        </div>
        <div class="nav-tabs-container">
            <a class="tab-button" href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Profile</a>
        </div>
    </header>
</body>
</html>