<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="Styles/ResetBasedStyles.css">
    <link rel="stylesheet" href="Styles/IndexStyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software shop</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar">
                <div class="container">
                    <div class="navbar__row">
                        <div class="logo">
                            <img src="https://image.flaticon.com/icons/png/512/4229/4229359.png" alt="icon" width="60" height="60" />
                            <span>Software market</span>
                        </div>
                        <div class="navbar-content">
                            <div class="btn active">
                                <p>Home</p>
                            </div>
                            <div class="btn">
                                <p>Market</p>
                            </div>
                            <div class="btn">
                                <p>Profile</p>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="hello-block">
            <div class="container">
                <div class="hello-block__row">
                    <div class="body">
                        <h3 class="main-title">
                            Rich Software Shop
                        </h3>
                        <p class="text">Привет! Ты модешь подумать "зачем я попал на этот сайт бла-бла-бла", однако Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid soluta doloremque dignissimos fugit architecto! Delectus beatae consequuntur nostrum est reiciendis excepturi unde, ipsam veritatis voluptatibus sapiente perferendis dolorum tenetur minus, omnis illo rem, atque repellendus commodi? Hic, incidunt! Fuga, quaerat.</p>
                        <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi dolorem consectetur quae obcaecati minima, explicabo maxime. Quisquam iure eos neque veritatis expedita vitae explicabo molestiae. Quo, eum perspiciatis eos deserunt id illum minus voluptate, autem nisi rem aut et repudiandae beatae consequuntur provident voluptatem mollitia?</p>
                        <p class="text">Это классная возможность показать себя и при этом получить немного денег;)
                            <br>
                            Поэтому скорей вступай в наши ряды!
                        </p>
    
                        <div class="buttons-block">
                            <div class="buttons-block__row">
                                <div class="btn contact-btn active">Присоединиться</div>
                                <div class="btn contact-btn">Узнать больше</div>
                                <div class="btn contact-btn">Перейти в магазин</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="image-block">
            <div class="container">
                <img class="hello-image" src="https://i.pinimg.com/originals/6c/a1/29/6ca12987d9feb7e0f8b523fdeb0c27ce.png" alt="КУПИ ИНТЕРНЕТ!!!">
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="footer-content">
                    <div class="footer-content__row">
                        <div class="footer-body">
                            <p class="text light">Здесь вы можете ознакомиться с дополнительной информацией, связанной с этим сайтом и перейти по различным никому не нежным ссылкам</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>