<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/MarketStyle.css">
    <link rel="stylesheet" href="Styles/ResetBasedStyles.css">
    <title>Market</title>
</head>
<body>
    <div class="wrapper">
        <div class="filter-panel">

        </div>
        <div class="content-list">
            <div class="product-preview">
            </div>
            <div class="product-preview">
            </div>
            <div class="product-preview">
            </div>
            <div class="product-preview">
            </div>
            <div class="product-preview">
            </div>
            <div class="product-preview">
            </div>
        </div>
    </div>
</body>
</html>